@import "./reset.scss";

$mainColor : black;

.wow-enter{
    opacity: 0;
}

.wow-enter-active{
    opacity: 1;
    transition: all 500ms;
}

@mixin hamsu(){
    background : #eeeeee;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
}

.red{
    color: $mainColor;
}

.btn-danger{
    margin: 0 5px;
}

/*
div.container{
    h4{
        color: blue;
    }
    p{
        color: green;
    }
}
*/

.my-alert {
    @include hamsu();
}

.my-alert2{
      @extend .my-alert;
      background: #ffe591;
}

  .my-alert p {
    margin-bottom : 0;
  }